<div class="medium-6 columns">
  <div class="panel">
    <h4>UPCOMING</h4>
    <hr>
    <p>Add a table here showing the nearest events related to the student.</p>
  </div>
</div>

<div class="medium-6 columns">
  <div class="panel">
    <h4>NOTES</h4>
    <hr>
    <p>Add a list of notes related to the student</p>
  </div>
</div>