<ul class="tabs" data-tab data-options="deep_linking:true">
  <li class="tab-title active"><a href="#overview"><i class="flaticon-home78"></i>&nbsp;<span class="hidden-for-small-only"> Overview</span></a></li>
  <li class="tab-title"><a href="#bio"><i class="flaticon-people"></i>&nbsp;<span class="hidden-for-small-only"> Bio</span></a></li>
  <li class="tab-title"><a href="#attendances"><i class="flaticon-verified9"></i>&nbsp;<span class="hidden-for-small-only"> Attendances</span></a></li>
  <li class="tab-title"><a href="#courses"><i class="flaticon-maths5"></i>&nbsp;<span class="hidden-for-small-only"> Courses</span></a></li>
  <li class="tab-title"><a href="#grades"><i class="flaticon-edit-text"></i>&nbsp;<span class="hidden-for-small-only"> Grades</span></a></li>
  <li class="tab-title"><a href="#report_cards"><i class="flaticon-pdf25"></i>&nbsp;<span class="hidden-for-small-only"> Report Cards</span></a></li>
  <li class="tab-title"><a href="#notes"><i class="flaticon-talk8"></i>&nbsp;<span class="hidden-for-small-only"> Notes</span></a></li>
</ul>


