<table class="responsive", width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student ID</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
        <td><%= student.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>