<ul class="tabs" data-tab data-options="deep_linking:true">
  <li class="tab-title active">
    <%= link_to '<i class="flaticon-home78"></i>&nbsp;<span class="hidden-for-small-only"> Overview</span>'.html_safe, '#overview', tabindex: 1 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-people"></i>&nbsp;<span class="hidden-for-small-only"> Students</span>'.html_safe, '#students', tabindex: 2 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-verified9"></i>&nbsp;<span class="hidden-for-small-only"> Attendances</span>'.html_safe, '#attendances', tabindex: 3 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-maths5"></i>&nbsp;<span class="hidden-for-small-only"> Courses</span>'.html_safe, '#courses', tabindex: 4 %>
  </li>
</ul>
