<a href="#" data-reveal-id="myModal" class="button radius">Take Attendance</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render "attendance_registers/form" %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

<br>

<%= render template: "attendance_registers/index" %>