<% provide(:title, 'Classes') %>

<div class="page-title">
  <h1>Classes</h1>
</div>

<a href="#" data-reveal-id="myModal" class="button radius">Add A Class</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render 'form' %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
<br>

<table>
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Class Code</th>
      <th width="10%">Room</th>
    </tr>
  </thead>

  <script type="type/html" id="group_template">
    <tr>
      <td><a href="./groups/${id}">${group_name}</a></td>
      <td>${group_code}</td>
      <td>${room}</td>
    </tr>
  </script>
  <tbody id="groups">
      
  </tbody>
</table>

<br>