<% provide(:title, 'Classes') %>

<div class="page-title">
  <h1>Classes</h1>
</div>

<%= link_to 'Create a new class', new_group_path, class: 'button tiny radius' %>
<br>

<table class="responsive">
  <thead>
    <tr>
      <th>Class name</th>
      <th>Class code</th>
      <th>Room</th>
      <th width="10%" colspan="2"></th>
    </tr>
  </thead>

  <script type="type/html" id="group_template">
    <tr>
      <td><a href="./groups/${id}">${group_name}</a></td>
      <td>${group_code}</td>
      <td>${room}</td>
    </tr>
  </script>
  <tbody id="group_items">
      
  </tbody>
</table>

<br>