<% provide(:title, 'Settings') %>

<div class="page-title">
  <h1>Settings</h1>
</div>

<p class="panel">
  <strong>
    <%= link_to 'Set Periods', periods_url %>
  </strong>
</p>
<p class="panel">
  <strong>
    <%= link_to 'Course Categories', course_categories_url %>
  </strong>
</p>
<p class="panel">
  <strong>
    <%= link_to 'Guardians Directory', guardians_url %>
  </strong>
</p>
