<% provide(:title, 'Exam Category') %>

<div class="page-title">
  <h1>Editing Exam Category</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', [@course, @exam_category], class: 'button secondary tiny radius' %> &nbsp; &nbsp;
<%= link_to 'Destroy', [@course, @exam_category], class: 'right button alert tiny radius', method: :delete, data: { confirm: 'Are you sure?' } %>
