<ul class="tabs" data-tab data-options="deep_linking:true">
<!--   <li class="tab-title active"><a href="#panel1"><i class="flaticon-home78"></i>&nbsp;<span class="hidden-for-small-only"> Overview</span></a></li> -->
  <li class="tab-title active">
    <%= link_to '<i class="flaticon-home78"></i>&nbsp; Overview'.html_safe, '#panel1', tabindex: 1 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-people"></i>&nbsp; Students'.html_safe, '#panel2', tabindex: 2 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-applicattion"></i>&nbsp; Curriculum'.html_safe, '#panel3', tabindex: 3 %>
  </li>
  <li class="tab-title">
    <%= link_to '<i class="flaticon-write12"></i>&nbsp; Exams'.html_safe, '#exam', tabindex: 4 %>
  </li>
</ul>
