<table>
  <thead>
    <tr>
      <th>Names</th>
    </tr>
  </thead>

  <tbody>
    <% @course.group.students.each do |student|  %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
      </tr>
    <% end %>
  </tbody>
</table>