<br>
<h5>Editing Chapter</h5>
<br>

<%= render 'form' %>

<%= link_to 'Cancel', [@course, @chapter], class: "button secondary radius" %> &nbsp;&nbsp;
<%= link_to 'View Curriculum', course_chapters_path, class: "button secondary radius" %>
