@charset "UTF-8";
/* @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: font_url("Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: font_url("Montserrat-Bold.ttf") format('truetype');
}

/* General settings */

body {
/*     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; */
    background: #007BB8;
    padding: 0;
    height:100%;
    font-size: 13px !important;
    color: #3D3D3D !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold;
}
p {
    font-size: 14px !important;
}

a {
  color: #007BB8;
}

.page-title {
  background: #EBEBEB;
  margin: 0px -15px 15px -15px;
  padding: 17px 13px 1px 13px;
  border-bottom: solid 1px #D2D2D2;
  
    h1 {
    font-size: rem-calc(23);
      span{
          font-size: 60%;
          font-weight: 100;
          margin-left: 20px;
          margin-top: 8px;
      }
    }
  }

.secondary-text {
  color: #949494;
  font-weight: 100;
  font-size: 85%;
}

blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 3px solid #8c92a3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #222;
}
ul, ol, dl {
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px;
}

/* Tables */
table {
  width: 100%;
}

/* Best_in_place input fields */
.best_in_place input {
  width: 70px !important;
  height: 15px !important;
  background: #CCEFFF;
}

/* Forms */
select {
  height: 100%;
}

input[type=submit] {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 3px;
  display: inline-block;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.875rem;
  background-color: #D3D3D3;
  color: #000;
  transition: background-color 300ms ease-out;
}

fieldset {
  background: #F0F0F0;
}

.switch input:checked + label {
  background: #01814B;
}


/* Columns Wrappers  */
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.content-wrapper {
  height: 100%;
  background: #fff;
}

.shadow {
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
     -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
}


/* Main menu navigation */

.top-bar-section ul li {
  padding-right: 20px; 
  transition: all 0.2s ease 0s;
}

/* Side navigation */

.side-nav{
  background: #007BB8;
}

.side-nav ul {
  margin-left: 0 !important;
}

.side-nav li{
  list-style: none outside none;
}

.side-nav ul li a {
  color: #eee !important;
  font-weight: bold;
  display: block;
  height: 50px;
  line-height: 32px;
  list-style: none outside none;
  padding: 0 10px 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}

/* Slick Nav */

.slicknav_menu {
    display:none;
}

/* Content Nav Tabs */

.tabs {
  margin: -15px 0 10px 0 !important;
  dd, .current {
    margin-top: 6px !important;
    > span {
      font-size: 1rem;
      padding: 0.4rem 0.5rem;
      color: #000;
    }
  }
}

.tabs dd > a, .tabs .tab-title > a {
  outline: none;
  display: block;
  background-color: #EFEFEF;
  color: #222222;
  padding: 0.4rem 0.5rem;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  border-right: #FFF solid 3px;
  border-bottom: #FFF solid 3px;
}

.tabs dd.current > a, .tabs .tab-title.current > a {
  background-color: red;
  color: #000;
}



@media screen and (max-width: 46.87em) {
  /* #menu is the original menu */
  .js #menu {
      display:none;
  }

  .js .slicknav_menu {
      display:block;
  }
}


/* Alert Boxes */

.alert-box {
  background-color: #838383;
  border-color: #8B8B8B;
  color: #FFFFFF;
  margin: 0 -15px;
}


/* Landing page */ 
.welcome {
  text-align: center;
  max-width: 100%;
  margin: 0;
  .title {
    background: rgba(0, 0, 0, 0.17);
    h2 {
      color: #fff;
    }
  }
  
  h1 {
    font-size: 2em;
    color: #5F5F5F;
  }
  
}

.login-wrapper {
  background: #fff;
  padding: 2em 3em;
  text-align: left !important;
  left: 50%;
  right:0;
  margin-top: 7%;
  margin-bottom: 10%;
  min-width: 40%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

.login {
  width: 100%;
  text-align: left;
}


/* Chosen Select Plugin Customisation */
.chosen-container {
  width: 100% !important;
}


/* footer */

footer {
  margin: 50px 0;
  padding: 20px 0;
  border-top: solid #DDDDDD 1px;
}