@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* General settings */

body {
/*     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; */
    background: #007BB8;
    padding: 0;
    height:100%;
    font-size: 13px !important;
    color: #888 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold;
}
p {
    font-size: 14px !important;
}

.page-title {
  background: #EBEBEB;
  margin: 0px -15px 15px -15px;
  padding: 17px 13px 1px 13px;
  border-bottom: solid 1px #D2D2D2;
  
  h1 {
  font-size: rem-calc(23);
  }
}

blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 3px solid #8c92a3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #222;
}
ul, ol, dl {
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px;
}

/* Forms */
select {
  height: 100%;
}


/* Columns Wrappers  */
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.content-wrapper {
  height: 100%;
  background: #fff;
}

.shadow {
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
     -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.38);
}


/* Main menu navigation */

.top-bar-section ul li {
  padding-right: 20px; 
  transition: all 0.2s ease 0s;
}

/* .top-bar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.46);
} */


/* Side navigation */

.side-nav{
  background: #007BB8;
}

.side-nav ul {
  margin-left: 0 !important;
}

.side-nav li{
  list-style: none outside none;
}

.side-nav ul li a {
  color: #eee !important;
  font-weight: bold;
  display: block;
  height: 50px;
  line-height: 32px;
  list-style: none outside none;
  padding: 0 10px 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}

/* Slick Nav */

.slicknav_menu {
    display:none;
}

/* Content Nav Tabs */

.tabs {
  margin: -15px 0 10px 0 !important;
  dd, .current {
    margin-top: 6px !important;
    > span {
      font-size: 1rem;
      padding: 0.4rem 0.5rem;
      color: #000;
    }
  }
}

.tabs dd > a, .tabs .tab-title > a {
  outline: none;
  display: block;
  background-color: #EFEFEF;
  color: #222222;
  padding: 0.4rem 0.5rem;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  border-right: #FFF solid 3px;
  border-bottom: #FFF solid 3px;
}

.tabs dd.current > a, .tabs .tab-title.current > a {
  background-color: red;
  color: #000;
}



@media screen and (max-width: 46.87em) {
  /* #menu is the original menu */
  .js #menu {
      display:none;
  }

  .js .slicknav_menu {
      display:block;
  }
}


/* footer */

footer {
  margin: 50px 0;
  padding: 20px 0;
  border-top: solid #DDDDDD 1px;
}