<ul class="tabs" data-tab data-options="deep_linking:true">
  <li class="tab-title active"><a href="#grades"><i class="flaticon-people"></i>&nbsp;<span class="hidden-for-small-only"> Grades</span></a></li>
  <li class="tab-title"><a href="#details"><i class="flaticon-home78"></i>&nbsp;<span class="hidden-for-small-only"> Details</span></a></li>
</ul>
