<% provide(:title, 'Editing Exam') %>

<div class="page-title">
  <h1>Editing Exam</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', course_exam_path, class: 'button secondary tiny radius' %>
<%= link_to 'Delete Exam', course_exam_url, class: 'right button alert tiny radius', method: :delete, data: { confirm: 'Are you sure?' } %>
