<% provide(:title, 'Editing Exam') %>

<br>
<h5>Exams List  <span class="right"><%= link_to 'Create New Exam', new_exam_path %></span></h5>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.title, exam %></td>
        <td><%= link_to exam.exam_category.title, exam.exam_category %></td>
        <td><%= exam.exam_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
