<footer>
  <div class="left"><p class="subheader"><%= Time.now.year %> Powered by Hinata</p></div>
  <div class="right"><p class="subheader"><small>Made with   <i class="fa fa-heart"></i>  in Leeds</small></p></div>
</footer>