  <ul id="menu">
    <li><a href="#" class="active"><i class="flaticon-home78"></i>&nbsp; Dashboard</a></li>
    <li><a href="#"><i class="flaticon-people"></i>&nbsp; Students</a></li>
    <li><a href="#"><i class="flaticon-teacher17"></i>&nbsp; Teachers</a></li>
    <li><a href="#"><i class="flaticon-calendar62"></i>&nbsp; Calendar</a></li>
    <li><a href="#"><i class="flaticon-maths5"></i>&nbsp; Courses</a></li>
    <li><a href="#"><i class="flaticon-persons8"></i>&nbsp; Classes</a></li>
    <li><h5 class="subheader"><small><a href="#"><i class="flaticon-settings49"></i>&nbsp; Settings</a></small></h5></li>
  </ul>