  <ul id="menu">
    <li><a href="#" class="active"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="#"><i class="fa fa-user"></i> Students</a></li>
    <li><a href="#"><i class="fa fa-user"></i> Teachers</a></li>
    <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
    <li><a href="#"><i class="fa fa-book"></i> Courses</a></li>
    <li><a href="#"><i class="fa fa-users"></i> Classes</a></li>
    <li><h5 class="subheader"><small><a href="#"><i class="fa fa-cog"></i> Settings</a></small></h5></li>
  </ul>








<!-- <div class="box clearfix upper-top-bar">
   <div class="left logo">
    <h1><a href="#">COLLEGE BENEDICTE</a></h1>
  </div>
   
  <div class="nav-bar right">
    <a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Salut Frank!
      <i class="fa fa-caret-down"></i></a>
    <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div> -->